/* * {
  border: solid blue 1px;
} */


body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* margin-bottom: 0px; */
   /* padding-bottom: 20px; */
   overflow-y: hidden;
   margin-top: 0px;
 } 

 .button {
   width: 191px;
   border-radius: 44px;
   font-size: 24px;
 }

 .button-container {
   display: flex;
   justify-content: space-evenly;
   height: 63px;
   margin: 185px;
 }

.button-poker-game {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 250px;
  width: 530px;
  border-radius: 175px;
  background-color: rgb(95, 6, 6);
  margin: 25px;
  margin-top: 26px;
  box-shadow: 11px 8px 14px #000;
  padding: 22px;
}

.center-container {
  background: url('assets/poker-table.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

h1 {
  font-size: 25px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-self: center;
  /* margin-top: 22px; */
  text-shadow: 2px 2px 4px #000;
  color: white;
  margin: 33px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 29px;
  padding: 0px;
  /* margin-top: 22px; */
  text-shadow: 2px 2px 4px #000;
  color: white;
}

h3 {
  font-size: 25px;
  padding: 0px;
  /* margin-top: 22px; */
  text-shadow: 2px 2px 4px #000;
  color: white;
  margin: 0px;
}

h4 {
  font-size: 20px;
  padding: 0px;
  margin: 22px;
  color: white;
  text-shadow: 2px 2px 4px #000;
}
.hand {
  height: 188px;
  width: 99px;
  /* margin: 0px; */
}

.hidden {
  display: none;
}

.left-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(9, 107, 94);
}

.poker-game-choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 35px;
  margin: 89px;
  
}

.poker-pro {
  height: 230px;
  width: 260px;
}

.poker-bot {
  height: 230px;
  width: 260px;
}
.right-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(13, 85, 48);

}